
{% extends 'base.html' %}
{% block content %}
<head>
<title>{{ titulo }}</title>
</head>

<section class="section is-medium">
    <h1 class="title">Cursos Univesp</h1>
    <h2 class="subtitle">
        Seja bem vindo!
    </h2>

<div class='columns is-multiline'>
    {% for curso in cursos %}
    {% if curso. ativo == True %}
    <div class='columns is-multiline'>
            <div class='column is-12'>
              <div class="card">
                <div class="card-content">
            <p class="title" ><a href="{{ url_for('videos', curso_id=curso.id) }}">{{ curso.nome }}</a></p> 
            <p>Descrição: {{ curso.descricao }}</p>
            <p>Tecnologia: {{ curso.tecnologia }}</p>
            <p>Autor: {{ curso.criador }}</p>
            <p>Adicionado: {{ curso.created_at }}</p>
            <p>Id: #{{ curso.id }}</p>
    </div>
    </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}
</section>
{% endblock %}